body{
    background-color: #2C272E;
}
#lamp{
    margin-top: 12%;
    .box{
        height: 160px;
        width: 80%;
        background-color: white;
        transition: all 0.7s;
    
    }
    button{
        height: 30px;
        width: 80%;
        border: none;
        background-color: #98D7C2;
    }
    .native{
        background-color: white !important;
    }
}