body{
    background-color: #2C272E;
}
#lamp{
    margin-top: 12%;
    .box{
        height: 160px;
        width: 80%;
        background-color: white;
    }
    button{
        height: 30px;
        width: 80%;
        border: none;
        background-color: #98D7C2;
    }

    .yellow{
        background-color: #F4E185;
    }

    .blue{
        background-color: #009DAE;
    }

    .green{
        background-color: #59981A;
    }

    .red{
        background-color: #C85250;
    }
}