body {
  background-color: #2C272E;
}

#lamp {
  margin-top: 12%;
}

#lamp .box {
  height: 160px;
  width: 80%;
  background-color: white;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#lamp button {
  height: 30px;
  width: 80%;
  border: none;
  background-color: #98D7C2;
}

#lamp .native {
  background-color: white !important;
}
